.table {

  }

th.rotated-text {
  height: 165px;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

th.rotated-text > div {
  transform:
    translate(15px, 0px)
    rotate(-90deg);
  width: 0px;
  font-size: 0.9rem;
}

th.rotated-text > div > span {
  padding: 0px 5px;
}

th.normal-text {
  white-space: nowrap;
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

td.row-text {
  white-space: nowrap;
  padding: 10px;
  font-size: 0.9rem;
}

td.spot-true {
 background-color: #d9ead3;
 text-align: center;
 padding: 10px;
 font-size: 0.7rem;
}

td.horror-text {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem
}

td.lord-text {
  color: blue;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

td.monster-text {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

button.btn {
  padding: 10px;
  border-radius: 0;
  border: 0px;
}

td.rod-true {
  color: green;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

td.rod-false {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

div#confirmingUpdates {
  display: none;
  animation: blink 2s linear infinite;
  color: #808080;
  font-weight: 500;
}
@keyframes blink {
  0% {opacity: 0}
  33% {opacity: .5}
  66% {opacity: 1}
  100% {opacity: .5}
}
