:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: #f7f1fd;
    margin: 0;
    padding: 0;
}

/* Scrollbar customization */

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #b16fe7;
}

/* Loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader > span {
    background-image: url('/media/svgs/paw.svg');
    background-size: 2px;
    filter: invert(45%) sepia(75%) saturate(400%) hue-rotate(230deg);
    display: inline-block;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    margin: 0 8px;
    padding: 0px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
    filter: invert(45%) sepia(75%) saturate(400%) hue-rotate(270deg);
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 24px;
        height: 24px;
        transform: translate3d(0, -12px, 0);
        background-size: 24px;
    }
}

/* Navbar customization */

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(0%) opacity(0.9);
    transition: 100ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--text-secondary);
}

.nav-link .svg-image {
    display: flex;
    min-width: 3rem;
    width: 3rem;
    margin: 0 1rem;
    filter: invert(40%);
}

.nav-link:hover .svg-image {
  filter: invert(45%) sepia(75%) saturate(400%) hue-rotate(230deg);
}

.link-text {
    white-space: nowrap;
    display: none;
    margin-left: 1rem;
}

.fa-primary,
.fa-secondary {
    color: gray;
    transition: var(--transition-speed)
}

.logo {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.2ch;
  color: var(--text-secondary);
  filter: invert(45%) sepia(75%) saturate(400%) hue-rotate(230deg);
}

.logo .svg-image {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -500px;
  transition: var(--transition-speed);
}

.navbar:hover .logo .svg-image {
  transform: rotate(-180deg);
}

/* Home configurations */
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}

 /* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    #app {
        margin: 0;
        padding: 1rem;
        width: auto;
        overflow-x: auto;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo .svg-image {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }

    #app {
        margin-left: 5rem;
        padding: 0 1rem 1rem 1rem;
        opacity: 0;
        display: none;
        width: auto;
        -webkit-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
    }
}
