/* ----- BODY'S CONFIGURATION ----- */

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #888;
  padding-top: 60px;
  line-height: 30px;
  font-weight: 300;
}

a {
  color: #d9d2e9;
  border-bottom: 1px dashed #d9d2e9;
  text-decoration: none;
  transition: all .3s;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

a:hover, a:focus {
  color: #d9d2e9;
  border: 0;
  text-decoration: none;
}

/* ---- BUTTONS CONFIGURATION ----- */

.btn:focus {
  box-shadow: none !important
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}

/* ---- FOOTER OF SIDEBAR ----- */

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 5px;
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 0px;
}

/* ---- IMAGE CONFIGURATION ----- */

.profile-img {
  width: 100px;
  height: auto;
}

/* ---- NAVBAR CONFIGURATION ----- */

.navbar-default {
  background-color: #FFF;
  z-index: 1;
  padding: 0px;
  margin-left: 300px;
}

.inline {
  display: inline-block;
  margin-right: 0px;
}

.navbar .nav-link {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: 0;
  color: #333;
}

.navbar .nav-link.active {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: 0;
  color: #810EFF;
}

.navbar .nav-link:hover {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: 0;
  color: #810EFF;
}

/* ----- SIDEBAR CONFIGURATION ----- */

.msb {
  width: 300px;
  background-color: #F5F7F9;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
}

.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}

.msb, .mnb {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

body.msb-x .mcw, body.msb-x .mnb {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

body.msb-x .msb {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* ----- SIDEBAR ------ */

.wrapper {
  display: block;
}

.sidebar {
	width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -255px;
  z-index: 1;
	background: #333;
  color: #fff;
  transition: all .3s;
	text-align: left;
}

.sidebar.active {
  left: 0;
}

.sidebar .logo {
  padding: 5px;
  transition: all .3s;
}

.sidebar ul.menu-elements {
  padding: 5px 0;
  transition: all .3s;
  margin-bottom: 0px;
}

.sidebar ul li a {
	display: block;
  padding: 10px 20px;
	border: 0;
  color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
  outline: 0;
  background: #810EFF;
  color: #fff;
}

.sidebar ul li a i {
  margin-right: 5px;
  margin-bottom: 0px;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: #810EFF;
	color: #fff;
}

.sidebar ul ul a {
  background: #444;
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  background: #555;
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #d9d2e9; text-shadow: none; }
::selection { background: #d9d2e9; text-shadow: none; }


/* ----- SLIDE'S ANIMATION ----- */

@-moz-keyframes slidein {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@keyframes slidein {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@-moz-keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: -300px;
  }
}

@-webkit-keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: -300px;
  }
}

@keyframes slideout {
  0% {
    left: 0;
  }
  100% {
    left: -300px;
  }
}

@-moz-keyframes bodyslidein {
  0% {
    left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

@-webkit-keyframes bodyslidein {
  0% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes bodyslidein {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

@-moz-keyframes bodyslideout {
  0% {
    margin-left: 300px;
  }
  100% {
    margin-right: 0;
  }
}

@-webkit-keyframes bodyslideout {
  0% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bodyslideout {
  0% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0;
  }
}
