{% extends "blog/base.html" %}
{% load static %}
{% block content %}

{% if not fishes %}
  <div class="center-screen">
    <h5>Ready to get started?</h5>
    <button id="startFishing" class="btn btn-outline-success" type="submit">Start fishing!</button>
    <!--<p>Confirming Updates</p>-->
  </div>

    <!-- Fishing Add Javascript -->
    <script src="{% static 'fishing/add.js' %}"></script>
{% else %}
  <table class="table table-hover container">
    <thead class="membership-tiers">
      <tr>
        <th id="number"               class="normal-text"   scope="col"><div><span>#</span></div></th>
        <th id="description"          class="rotated-text"  scope="col"><div><span>Description</span></div></th>
        <th id="name"                 class="normal-text"   scope="col"><div><span>Name</span></div></th>
        <th id="dragon_palace"        class="rotated-text"  scope="col"><div><span>Dragon Palace</span></div></th>
        <th id="acteul"               class="rotated-text"  scope="col"><div><span>Acteul</span></div></th>
        <th id="lake_tiilen"          class="rotated-text"  scope="col"><div><span>Lake Tiilen</span></div></th>
        <th id="vasu_mountains"       class="rotated-text"  scope="col"><div><span>Vasu Mountains</span></div></th>
        <th id="charol_plains"        class="rotated-text"  scope="col"><div><span>Charol Plains</span></div></th>
        <th id="man_eating_swamp"     class="rotated-text"  scope="col"><div><span>Man-eating Marsh</span></div></th>
        <th id="baruoki"              class="rotated-text"  scope="col"><div><span>Baruoki</span></div></th>
        <th id="nauru_uplands"        class="rotated-text"  scope="col"><div><span>Nauru Uplands</span></div></th>
        <th id="kareks_wampland"      class="rotated-text"  scope="col"><div><span>Karek Swampland</span></div></th>
        <th id="rinde"                class="rotated-text"  scope="col"><div><span>Rinde</span></div></th>
        <th id="serena_coast"         class="rotated-text"  scope="col"><div><span>Serena Coast</span></div></th>
        <th id="rucyana_sands"        class="rotated-text"  scope="col"><div><span>Rucyana Sands</span></div></th>
        <th id="elzion_airport"       class="rotated-text"  scope="col"><div><span>Elzion Airport</span></div></th>
        <th id="nilva"                class="rotated-text"  scope="col"><div><span>Nilva</span></div></th>
        <th id="last_island"          class="rotated-text"  scope="col"><div><span>Last Island</span></div></th>
        <th id="dimension_rift"       class="rotated-text"  scope="col"><div><span>Spacetime Rift</span></div></th>
        <th id="zol_plains"           class="rotated-text"  scope="col"><div><span>Zol Plains</span></div></th>
        <th id="moonlight_forest"     class="rotated-text"  scope="col"><div><span>Moonlight Forest</span></div></th>
        <th id="snake_neck_igoma"     class="rotated-text"  scope="col"><div><span>Snake Neck Igoma</span></div></th>
        <th id="ancient_battlefield"  class="rotated-text"  scope="col"><div><span>Ancient Battlefield</span></div></th>
        <th id="rod"                  class="rotated-text"  scope="col"><div><span>Required Rod</span></div></th>
        <th id="stones"               class="rotated-text"  scope="col"><div><span>Stones Left</span></div></th>
        <th id="actual_catch"         class="normal-text"   scope="col"><div><span>Actual Catch</span></div></th>
        <th id="bait"                 class="normal-text"   scope="col"><div><span>Required Bait</span></div></th>
        <th id="reel"                 class="normal-text"   scope="col"><div><span>Required Reel</span></div></th>
        <th id="xp"                   class="normal-text"   scope="col"><div><span>XP</span></div></th>
      </tr>
    </thead>
      <form id="form" method="POST">
        {% csrf_token %}
        <tbody id="fish-container" class="row-text lead">
        </tbody>
      </form>
    </table>

    <!-- Fishing Javascript -->
    <script src="{% static 'fishing/fishing.js' %}"></script>
{% endif %}
    <!-- Fishing Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'fishing/style.css' %}">
{% endblock content %}
