{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <title>Anaden Tracker</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse flex-md-nowrap">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                {% if user.is_authenticated %}
                {{ request.user.id|json_script:"user_id" }}
                <a class="nav-link" href="{% url 'profile' %}">
                  <img src="/media/characters/user/aldao.png" style="width: 3rem" alt="Aldo"> {{ user|title }} <span class="sr-only"></span>
                </a>
                <div class="dropdown-divider"></div>
                {% block sidebar %}{% endblock %}
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">
                  <span>Sign In</span>
                </a>
                <div class="dropdown-divider"></div>
              </li>

                {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <img src="/media/icons/home.png" class="pr-2" alt="Cat Catalog Icon"> Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <img src="/media/icons/characters.png" class="pr-2" alt="Characters Icon"> Characters
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'fishing' %}">
                  <img src="/media/icons/fishing.png" class="pr-2" alt="Fishing Icon"> Fishing
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <img src="/media/icons/cat catalog.png" class="pr-2" alt="Cat Catalog Icon"> Cat Catalog
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <img src="/media/icons/IDA.png" class="pr-2" alt="IDA Icon"> IDA
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 p-auto">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-auto">
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>
  {% block modal %}{% endblock %}
  {% block javascript %}{% endblock %}
  </body>
</html>
