{% extends "blog/base.html" %}

{% block hero-menu %}
<main role="main" class="container w-100">
  <div class="row col-12">
      <div id="accordion" class="col-12">
        <div class="card">
          <div class="bd-example bd-example-tabs pb-0 pl-2 pt-2 pr-2">

            <nav>
              <div class="nav nav-tabs" id="nav-tabs" role="tablist">
                <a class="h7 nav-item nav-link active" id="nav-battleground-tab" data-toggle="tab" href="#nav-battleground" role="tab" aria-controls="nav-battlelog" aria-selected="true">Battleground</a>
                <a class="h7 nav-item nav-link" id="nav-battlelog-tab" data-toggle="tab" href="#nav-battlelog" role="tab" aria-controls="nav-battlelog" aria-selected="true">Battle Logs</a>
              </div>
            </nav>

            <div class="tab-content ml-0 mr-0 mt-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-battleground" role="tabpanel" aria-labelledby="nav-battleground-tab">

                <!-- Start-Sprites of battleground -->
                <div>
                  <div class="row pt-2 pb-2 pl-3">
                    <img src="media/tilesets/Grass-Rock-Water-Corner-1.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water-Tree1.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water-Tree1.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water-Tree1.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">
                    <img src="media/tilesets/Grass-Water2.png" alt="">

                    <img src="media/tilesets/Grass-Rock-Corner1.png" alt="">
                    <img src="media/tilesets/Grass2-Hero.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">

                    <img src="media/tilesets/Grass-Rock-Corner2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                    <img src="media/tilesets/Grass2.png" alt="">
                  </div>
                </div>
                <!-- End-Sprites of battleground -->

              </div>
              <div class="tab-pane fade" id="nav-battlelog" role="tabpanel" aria-labelledby="nav-battlelog-tab">
                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum.
                  Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum
                  aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim
                  amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row col-12">
    <div class="col-4">
      <div id="accordion" class="">
        <div class="card">
          <div class="bd-example bd-example-tabs ml-2 mt-2 mr-2">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist" justified>
                <a class="h7 nav-item nav-link active w-auto" id="nav-skills-tab" data-toggle="tab" href="#nav-skills" role="tab" aria-controls="nav-home" aria-selected="true">Skills</a>
                <a class="h7 nav-item nav-link w-auto" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Equipments</a>
                <a class="h7 nav-item nav-link w-auto" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Passives</a>
              </div>
            </nav>

            <div class="tab-content ml-2 mr-2 mt-4" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-skills" role="tabpanel" aria-labelledby="nav-skills-tab">
                <div>
                  <p class='h7 mb-0' style="float: left">Combat
                  <p class='h7 mb-0' style="float: right">{{ User.fish.combat }}</p><br>
                  <div class="progress mb-3 mt-1" style="height: 6px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div>
                  <p class='h7 mb-0' style="float: left">Defense
                  <p class='h7 mb-0' style="float: right"> {{ user.hero.defense }}</p><br>
                  <div class="progress mb-3 mt-1" style="height: 6px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div>
                  <p class='h7 mb-0' style="float: left">Agility
                  <p class='h7 mb-0' style="float: right"> {{ user.hero.agility }}</p><br>
                  <div class="progress mb-3 mt-1" style="height: 6px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div>
                  <p class='h7 mb-0' style="float: left">Constitution
                  <p class='h7 mb-0' style="float: right"> {{ user.hero.constitution }}</p><br>
                  <div class="progress mb-3 mt-1" style="height: 6px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div>
                  <p class='h7 mb-0' style="float: left">Inteligence
                  <p class='h7 mb-0' style="float: right"> {{ user.hero.inteligence }}</p><br>
                  <div class="progress mb-3 mt-1" style="height: 6px">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum.
                  Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum.</p>
              </div>

              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum.
                  Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum.</p>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div id="accordion" class="">
        <div class="card">
          <div class="bd-example bd-example-tabs pl-2 pt-2 pr-2">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="h7 nav-item nav-link active w-auto" id="nav-Minions-tab" data-toggle="tab" href="#nav-minions" role="tab" aria-controls="nav-minions" aria-selected="true">Minions</a>
                <a class="h7 nav-item nav-link w-auto" id="nav-upgrades-tab" data-toggle="tab" href="#nav-upgrades" role="tab" aria-controls="nav-upgrades" aria-selected="false">Upgrades</a>
                <a class="h7 nav-item nav-link w-auto" id="nav-mining-tab" data-toggle="tab" href="#nav-mining" role="tab" aria-controls="nav-mining" aria-selected="false">Mining</a>
                <a class="h7 nav-item nav-link w-auto" id="nav-crafting-tab" data-toggle="tab" href="#nav-crafting" role="tab" aria-controls="nav-crafting" aria-selected="false">Crafting</a>
              </div>
            </nav>

            <div class="tab-content ml-2 mr-2 mt-4 mb-2" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-minions" role="tabpanel" aria-labelledby="nav-minions-tab">
                <div>
                  <p class='h7 mb-0' style="float: left">Orc Warrior
                  <p class='h7 mb-0' style="float: right">10</p>
                  <p class='h7 mb-0'>&nbsp;</p>
                </div>

                <div>
                  <p class='h7 mb-0' style="float: left">Orc Archer
                  <p class='h7 mb-0' style="float: right">10</p>
                  <p class='h7 mb-0'>&nbsp;</p>
                </div>

                <div>
                  <p class='h7 mb-0' style="float: left">Orc Mage
                  <p class='h7 mb-0' style="float: right">10</p>
                  <p class='h7 mb-0'>&nbsp;</p>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-upgrades" role="tabpanel" aria-labelledby="nav-upgrades-tab">
                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum.
                  Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum
                  aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim
                  amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>
              </div>

              <div class="tab-pane fade" id="nav-mining" role="tabpanel" aria-labelledby="nav-mining-tab">
                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum.
                  Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum
                  aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim
                  amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>
              </div>

              <div class="tab-pane fade" id="nav-crafting" role="tabpanel" aria-labelledby="nav-crafting-tab">
                <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis labore cillum sint adipisicing exercitation ipsum.
                  Nostrud ut anim non exercitation velit laboris fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum
                  aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim
                  amet ipsum officia consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
