{% extends "blog/base.html" %}
{% load static %}
{% block content %}

{% if not fishes %}
  <div class="center-screen">
    <div id="button">
      <h5 class="text">Ready to get started?</h5>
      <button class="btn btn-outline-success" type="submit">Start fishing!</button>
    </div>
    <div id="confirmingUpdates"><span class="blink">Confirming Updates</span></div>
  </div>

    <!-- fishing.css & fishing.js -->
    <script src="{% static 'fishing/add.js' %}"></script>
{% else %}
  <table class="table table-hover container">
    <thead class="membership-tiers">
      <tr>
        <th id="number"               class="normal-text"   scope="col"><div><span>#</span></div></th>
        <th id="description"          class="rotated-text"  scope="col"><div><span>Description</span></div></th>
        <th id="name"                 class="normal-text"   scope="col"><div><span>Name</span></div></th>
        <th id="dragon_palace"        class="rotated-text"  scope="col"><div><span>Dragon Palace</span></div></th>
        <th id="acteul"               class="rotated-text"  scope="col"><div><span>Acteul</span></div></th>
        <th id="lake_tiilen"          class="rotated-text"  scope="col"><div><span>Lake Tiilen</span></div></th>
        <th id="vasu_mountains"       class="rotated-text"  scope="col"><div><span>Vasu Mountains</span></div></th>
        <th id="charol_plains"        class="rotated-text"  scope="col"><div><span>Charol Plains</span></div></th>
        <th id="man_eating_marsh"     class="rotated-text"  scope="col"><div><span>Man Eating Marsh</span></div></th>
        <th id="baruoki"              class="rotated-text"  scope="col"><div><span>Baruoki</span></div></th>
        <th id="nauru_uplands"        class="rotated-text"  scope="col"><div><span>Nauru Uplands</span></div></th>
        <th id="karek_swampland"      class="rotated-text"  scope="col"><div><span>Karek Swampland</span></div></th>
        <th id="rinde"                class="rotated-text"  scope="col"><div><span>Rinde</span></div></th>
        <th id="serena_coast"         class="rotated-text"  scope="col"><div><span>Serena Coast</span></div></th>
        <th id="rucyana_sands"        class="rotated-text"  scope="col"><div><span>Rucyana Sands</span></div></th>
        <th id="elzion_airport"       class="rotated-text"  scope="col"><div><span>Elzion Airport</span></div></th>
        <th id="nilva"                class="rotated-text"  scope="col"><div><span>Nilva</span></div></th>
        <th id="last_island"          class="rotated-text"  scope="col"><div><span>Last Island</span></div></th>
        <th id="spacetime_rift"       class="rotated-text"  scope="col"><div><span>Spacetime Rift</span></div></th>
        <th id="zol_plains"           class="rotated-text"  scope="col"><div><span>Zol Plains</span></div></th>
        <th id="moonlight_forest"     class="rotated-text"  scope="col"><div><span>Moonlight Forest</span></div></th>
        <th id="snake_neck_igoma"     class="rotated-text"  scope="col"><div><span>Snake Neck Igoma</span></div></th>
        <th id="ancient_battlefield"  class="rotated-text"  scope="col"><div><span>Ancient Battlefield</span></div></th>
        <th id="rod"                  class="rotated-text"  scope="col"><div><span>Required Rod</span></div></th>
        <th id="stones"               class="rotated-text"  scope="col"><div><span>Stones Left</span></div></th>
        <th id="actual_catch"         class="normal-text"   scope="col"><div><span>Actual Catch</span></div></th>
        <th id="bait"                 class="normal-text"   scope="col"><div><span>Required Bait</span></div></th>
        <th id="xp"                   class="normal-text"   scope="col"><div><span>XP</span></div></th>
      </tr>
    </thead>
    <tbody>
      {% for fish in fishes %}
      <tr>
        <td class="row-text">{{ fish.number }}</td>
        {% if fish.description == 'H' %}          <td class="horror-text">H</td>
        {% elif fish.description == 'L' %}        <td class="lord-text">L</td>
        {% elif fish.description == 'M' %}        <td class="monster-text">M</td>      {% else %}  <td></td> {% endif %}
        <td class="row-text">{{ fish.name }}</td>
        {% if fish.dragon_palace == True %}       <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.acteul == True %}              <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.lake_tiilen == True %}         <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.vasu_mountains == True %}      <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.charol_plains == True %}       <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.man_eating_marsh == True %}    <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.baruoki == True %}             <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.nauru_uplands == True %}       <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.karek_swampland == True %}     <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.rinde == True %}               <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.serena_coast == True %}        <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.rucyana_sands == True %}       <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.elzion_airport == True %}      <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.nilva == True %}               <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.last_island == True %}         <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.spacetime == True %}           <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.zol_plains == True %}          <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.moonlight_forest == True %}    <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.snake_neck_igoma == True %}    <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if fish.ancient_battlefield == True %} <td class="spot-true">&#10004;</td>  {% else %}  <td></td> {% endif %}
        {% if user.profile.rod > fish.rod %}      <td class="rod-true">{{ fish.rod }}</td> {% else %}  <td class="rod-false">{{ fish.rod }}</td> {% endif %}
        <td id="stones-{{fish.id}}" class="row-text">{{ fish.stones }}</td>
        <td class="p-0 text-center">
          <button id="dec-{{fish.id}}" class="dec_button btn btn-sm btn-outline-dark" style="float: left" type="submit">
            <strong> < </strong></button>
          <button id="update-{{fish.id}}" class="btn btn-sm pl-0 pr-0" disabled>{{ fish.actual_catch }}</button>
          <button id="inc-{{fish.id}}" class="inc_button btn btn-sm btn-outline-dark" style="float: right" type="submit">
            <strong> > </strong></button>
        </td>
        <td class="row-text">{{ fish.bait }}</td>
        <td class="row-text">{{ fish.xp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <!-- Fishing Javascript -->
    <script src="{% static 'fishing/fishingTESTE.js' %}"></script>
{% endif %}
    <!-- fishing.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'fishing/style.css' %}">

{% endblock content %}
