{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="center-screen container">
  <div id="button">
    <h5 class="text">Page on construction!</h5>
    <h5 class="text">Tell me your thoughts about Anaden Tracker!</h5>
  </div>
  <div class="">
    <h5>Icons:</h5> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
     from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</div>

{% endblock %}
