{% extends "base.html" %}
{% load static %}

{% block content %}
                <table id="charactersTable" class="table">
                    <thead>
                        <tr>
                            <th class="center-text">
                                <div>
                                    <span>Rarity</span>
                                </div>
                            </th>
                            <th class="center-text">
                                <div><span>Element</span></div>
                            </th>
                            <th class="normal-text">
                                <div><span>Name</span></div>
                            </th>
                            <th class="center-text">
                                <div><span>Lv</span></div>
                            </th>
                            <th class="center-text">
                                <div><span>Count</span></div>
                            </th>
                            <th class="center-text">
                                <div><span>Weapon</span></div>
                            </th>
                            <th class="center-text">
                                <div><span>Manifest Lv</span></div>
                            </th>
                            <th class="center-text">
                                <div><span>Dungeon</span></div>
                            </th>
                            <th class="center-text">
                                <div><span>Delete</span></div>
                            </th>
                        </thead>
                        <tbody>

                        </tbody>
                </table>

                <nav class="character-navbar">
                    <ul class="character-nav">
                        <li class="character-logo">
                            <a class="character-link-logo">
                                <img class="svg-image" src="/media/svgs/plus.svg" />
                                <input id="filterInput" class="search-input" type="text" placeholder="Search characters">
                            </a>
                        </li>
                        <li id="characterList" class="character-item">
                            {% for character in characters %}
                            <a class="character-link add"
                                data-id="{{character.id}}"
                                data-element="{{character.element}}"
                                data-name="{{character.name}}"
                                data-fullname="{{character.fullname}}"
                                data-level="{{character.lv}}"
                                data-rarity="{{character.rarity}}"
                                data-element="{{character.element}}"
                                data-weapon="{{character.weapon_type}}"
                                data-count="{{character.ls_count}}"
                                data-dungeon="{{character.dungeon}}"
                                data-ls_type="{{character.ls_type}}">
                                <img class="svg-item" src="{{character.icon}}" title="{{character.fullname}}"/>
                            </a>
                            {% endfor %}
                        </li>
                    </ul>
                </nav>
{% endblock %}

{% block javascript %}
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.js"></script>
            <script type="text/javascript" src="{% static 'js/characters.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/character_search.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/character.css' %}">
{% endblock %}
