{% extends "base.html" %}
{% load static %}

{% block content %}
            <div class="fishes-wrapper">
                <h3>Add Fishes (Current: {{fishes}})</h3>
                <button id="fish-add">Add Fishes</button>
            </div>

            <div class="characters-wrapper">
                <h3>Scrape Characters (Current: {{characters}})</h3>
                <button id="scrape-characters" type="submit">Scrape</button>
            </div>

            <div class="weapons-wrapper">
                <h3>Scrape Weapons (Current: {{weapons}})</h3>
                <button id="scrape-weapons" type="submit">Scrape</button>
            </div>

            <div class="bosses-wrapper">
                <h3>Scrape Bosses (Current: {{bosses}})</h3>
                <button id="scrape-bosses" type="submit">Scrape</button>
            </div>
{% endblock %}

{% block javascript %}
        <script type="text/javascript" src="{% static 'js/fishes_add.js' %}"></script>
        <script>
            var charactersScrape = document.getElementById('scrape-characters')
            charactersScrape.addEventListener('click', function(e) {

                fetch('/api/scrape-characters/', {
                    method: 'POST',
                    headers:{
                        'Content-type':'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
            });

            var weaponsScrape = document.getElementById('scrape-weapons')
            weaponsScrape.addEventListener('click', function(e) {

                fetch('/api/scrape-weapons/', {
                    method: 'POST',
                    headers:{
                        'Content-type':'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
            });

            var bossesScrape = document.getElementById('scrape-bosses')
            bossesScrape.addEventListener('click', function(e) {

                fetch('/api/scrape-bosses/', {
                    method: 'POST',
                    headers:{
                        'Content-type':'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
            });
        </script>
{% endblock %}
