{% extends "base.html" %}
{% load static %}

{% block content %}
            <div class="fishes-wrapper">
                <h3>Add Fishes (Current: {{fishes}})</h3>
                <button id="fish-add">Add Fishes</button>
            </div>

            <div class="characters-wrapper">
                <h3>Scrape Characters (Current: {{characters}})</h3>
                <button id="scrape-characters" type="submit">Scrape</button>
            </div>

            <div class="weapons-wrapper">
                <h3>Scrape Weapons (Current: {{weapons}})</h3>
                <button id="scrape-weapons" type="submit">Scrape</button>
            </div>

            <div class="bosses-wrapper">
                <h3>Scrape Bosses (Current: {{bosses}})</h3>
                <button id="scrape-bosses" type="submit">Scrape</button>
            </div>

            <div class="lordofmana-wrapper">
                <h3>Scrape Catalog (Current: {{cats}})</h3>
                <button id="scrape-catalog" type="submit">Scrape</button>
            </div>

            <div class="lordofmana-wrapper">
                <h3>Scrape Lord Of Mana (Current: {{friends}})</h3>
                <button id="scrape-lordofmana" type="submit">Scrape</button>
            </div>
{% endblock %}

{% block javascript %}
        <script type="text/javascript" src="{% static 'js/fishes_add.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scraping.js' %}"></script>
{% endblock %}
