{% extends "base.html" %}
{% load static %}

{% block content %}
            <div class="center-screen container">
                <h1 class="title">
                    Anaden
                    <span style="color: #bd80ff"> Tracker</span>
                </h1>
                <p style="font-size: 1.15rem">
                    A webapp that helps you keep track of your progress in-game.<br />
                    One place to get all information you need.
                </p>
            </div>
{% endblock %}
