/* ----- BODY CONFIGURATION ----- */

body {
  background-color:
}

/* ----- DATATABLE CONFIGURATION ----- */

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 10px;
}

table.dataTable td {
  padding: 0px;
  vertical-align: middle;
}

.dataTable > thead > tr > th[class*="sort"]:before {
  content: "" !important;
}
.dataTable > thead > tr > th[class*="sort"]:after {
  content: "" !important;
}

/* ----- TABLE CONFIGURATION ----- */

th.normal-text {
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.875rem;
  text-align: center;
}

th.normal-text:hover {
  color: #810EFF;
}

td.normal-text {
  text-align: center;
}

/* ----- BUTTONS CONFIGURATION ----- */

a.btn {
  padding: 10px;
  border-radius: 0;
  border: 0px;
  color: #28a745;
}

a.btn:hover {
  color: #fff;
}


/* ----- SIDEBAR CONFIGURATION ----- */


/* ----- MODAL CONFIGURATION ----- */

.nav-item {
  padding: 2px 10px;
  letter-spacing: 2px;
}

div.status > button.title {
  text-align: left;
  font-weight: 700;
  background-color: #
  padding: 2px;
}

div.status > button.subtitle:hover {
  color: #810EFF;
}

div.status > button.subtitle {
  text-align: center;
  font-weight: 700;
  color: grey;
  padding: 2px;
}

/* ----- INPUT CONFIGURATION ----- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* ----- PLACEHOLDER CONFIGURATION ----- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  weight: 800;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: grey;
}

/* ----- DIVIDER TEXT CONFIGURATION ----- */

.divider {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
}

.divider > button {
    align-self: baseline;
    flex-grow: 2;
    white-space: nowrap;
}

.divider > hr {
    margin-top: 15px;
    width: 100%;
    border: 0;
    height: 1px;
    background: grey;
}

.divider.center >:first-child {
    margin-right: 5px;
}

.divider.center >:last-child {
    margin-left: 5px;
}
