{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="center-screen container">
    <div class="d-flex justify-content-center">
      <form class="" action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="text-align: center">
              <legend class="">Account Login</legend>
              <div class="mb-4">
                    <small class="text-muted">
                      Doesn't have an account?<a class="ml-2" href="{% url 'register' %}">Create an account.</a>
                    </small>
              </div>
              {{ form|crispy }}
        </fieldset>
        <div class="form-group" style="text-align: center">
              <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
      </form>
    </div>
</main>
{% endblock content %}
