{% extends "blog/base.html" %}

{% block content %}
<main role="main" class="container">
    <div class="row col-12">
      <div class="col-6">

      </div>
      <div class="col-6">
        <div class="content-section">
          <h4>You have been logged out</h4>
          <div class="border-top pt-3">
                <small class="text-muted">
                <a href="{% url 'login' %}">Login.</a> 
                </small>
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock content %}
