{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block sidebar %}
  <div class="logo">
    <ul class="list-unstyled menu-elements">
    {% if user.is_authenticated %}
      {{ request.user.id|json_script:"user_id" }}
      <li><img class="profile-img rounded-circle mx-auto d-block p-2" src="/media/characters/user/aldo_profile.png"></li>
      <li><a class="scroll-link text-center" href="{% url 'profile' %}"> {{ user|title }} </a></li>
    {% else %}
      <li><a class="scroll-link text-center" href="{% url 'login' %}"> Sign In </a></li>
    {% endif %}
    </ul>
  </div>

  <ul class="list-unstyled menu-elements">
    <li class="active"><a class="scroll-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home </a></li>
    <li><a class="scroll-link" href="{% url 'home' %}"><i class="fas fa-user-check"></i> Characters </a></li>
    <li><a class="scroll-link" href="{% url 'fishing' %}"><i class="fas fa-fish"></i> Fishing </a><li></li>
    <li><a class="scroll-link" href="{% url 'home' %}"><i class="fas fa-dragon"></i> Bosses </a></li>
    <li><a class="scroll-link" href="{% url 'home' %}"><i class="fas fa-jedi"></i> IDA School </a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="center-screen container">
    <form class="" action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group text-left">
        <div class="text-center">
          <legend class="border-border">Join Anaden Tracker!</legend>
          <small class="text-muted">
          Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
          </small>
        </div>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info m-0" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
{% endblock content %}
