{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
    <div class="row col-12">
      <div class="col-6">

      </div>
      <div class="col-6">
        <div class="content-section">
              <form class="" action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                          <legend class="border-border">Join in today!</legend>
                          {{ form|crispy }}
                          <small class="text-muted">
                          Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                          </small>
                    </fieldset>
                    <div class="form-group">
                          <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
              </form>

        </div>
    </div>
</main>
{% endblock content %}
