{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="center-screen container">
  <div class="content-section">
    <form class="" action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group text-left">
        <div class="text-center">
          <legend class="border-border ">Join in today!</legend>
          <small class="text-muted">
          Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
          </small>
        </div>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</main>
{% endblock content %}
