{% extends "home/base.html" %}
{% load static %}

{% block sidebar %}
  <div class="logo">
    <ul class="list-unstyled menu-elements">
    {% if user.is_authenticated %}
      {{ request.user.id|json_script:"user_id" }}
      <li><img class="profile-img rounded-circle mx-auto d-block p-2" src="/media/characters/user/aldo_profile.png"></li>
      <li><a class="text-center" href="{% url 'profile' %}"> {{ user|title }} </a></li>
    {% else %}
      <li><a class="text-center" href="{% url 'login' %}"> Sign In </a></li>
    {% endif %}
    </ul>
  </div>

  <div class="sidebar-heading justify-content-between align-items-center px-3">
    <div id="sidebar">
      <ul class="list-unstyled menu-elements fishing-section">
        <li>
        </li>
      </ul>
    </div>
  </div>

  <ul class="list-unstyled menu-elements">
    <li><a href="{% url 'home' %}"><i class="fas fa-home fa-fw"></i> Home </a></li>
    <li><a href="{% url 'characters' %}"><i class="fas fa-user-check fa-fw"></i> Characters </a></li>
    <li><a href="{% url 'fishing' %}"><i class="fas fa-fish fa-fw"></i> Fishing </a><li></li>
    <li><a class="disabled" href="{% url 'home' %}"><i class="fas fa-dragon fa-fw"></i> Bosses </a></li>
    <li><a class="disabled" href="{% url 'home' %}"><i class="fas fa-jedi fa-fw"></i> IDA School </a></li>
  </ul>

  <ul class="list-unstyled menu-elements sidebar-footer text-center">
    <li class="inline"><a style="width: 145px" href="{% url 'legal' %}"><i class="fas fa-file-contract fa-fw"></i></a></li>
    <li class="inline"><a style="width: 145px" href="https://ko-fi.com/K3K426SNG"><i class="fas fa-coffee fa-fw"></i></a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="center-screen">
    <p>Sophia</p>

  </div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block javascript %}
{% endblock %}
