{% extends "home/base.html" %}
{% load static %}

{% block sidebar %}
  <div class="logo">
    <ul class="list-unstyled menu-elements">
    {% if user.is_authenticated %}
      {{ request.user.id|json_script:"user_id" }}
      <li><img class="profile-img rounded-circle mx-auto d-block p-2" src="/media/characters/user/aldo_profile.png"></li>
      <li><a class="text-center" href="{% url 'profile' %}"> {{ user|title }} </a></li>
    {% else %}
      <li><a class="text-center" href="{% url 'login' %}"> Sign In </a></li>
    {% endif %}
    </ul>
  </div>

  <ul class="list-unstyled menu-elements">
    <li class="active"><a href="{% url 'home' %}"><i class="fas fa-home fa-fw"></i> Home </a></li>
    <li><a class="disabled" href="{% url 'home' %}"><i class="fas fa-user-check fa-fw"></i> Characters </a></li>
    <li><a href="{% url 'fishing' %}"><i class="fas fa-fish fa-fw"></i> Fishing </a><li></li>
    <li><a class="disabled" href="{% url 'home' %}"><i class="fas fa-dragon fa-fw"></i> Bosses </a></li>
    <li><a class="disabled" href="{% url 'home' %}"><i class="fas fa-jedi fa-fw"></i> IDA School </a></li>
  </ul>

  <ul class="list-unstyled menu-elements sidebar-footer text-center">
    <li class="inline"><a style="width: 145px" href="{% url 'legal' %}"><i class="fas fa-file-contract fa-fw"></i></a></li>
    <li class="inline"><a style="width: 145px" href="https://ko-fi.com/K3K426SNG"><i class="fas fa-coffee fa-fw"></i></a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="center-screen container">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Anaden Tracker</h1>
        <p class="lead text-muted">
          Anaden Tracker is a website that help you keep track of your progress in-game. One place to get
          all information you need to get the best out of your time.
        </p>
      </div>
    </section>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/media/wallpapers/fishing.jpg" alt="Card image cap">
          <div class="jumbotron p-0" style="background: #555">
            <ul class="list-unstyled menu-elements p-0">
              <li>
                <a href="{% url 'fishing' %}"><strong> Fishing Tracker </strong></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/media/wallpapers/characters.jpg" alt="Card image cap">
          <div class="jumbotron p-0" style="background: #555">
            <ul class="list-unstyled menu-elements p-0">
              <li>
                <a class="disabled" href="{% url 'home' %}"><strong> Comming Soon </strong></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/media/wallpapers/bosses.jpg" alt="Card image cap">
          <div class="jumbotron p-0" style="background: #555">
            <ul class="list-unstyled menu-elements p-0">
              <li>
                <a class="disabled" href="{% url 'home' %}"><strong> Comming Soon </strong></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
{% endblock %}
